{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<head>
    <title>Personal Website Project</title>
    <link href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" />
</head>

<style type="text/css">

/* Custom styles for ul and li */
.card-body ul {
    color: #596b7d; /* Custom color for list text */
}

.card-body li {
    color: #596b7d; /* Custom color for list items */
}

.card-body ul li::marker {
    color: #596b7d; /* Custom color for bullet points */
}

</style>


<div class="section" id="projects">
  <h1 class="heading-box">My Personal Website Project</h1>
</div>

<div class="section" id="projects-subheading">
  <h2>Project Overview</h2>
  <hr style="height: 10px;">
</div>

<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <p class="card-text">I built a golf stats app to help learn more about Python. Along the way this turned into a web-based app and I decided to extend that project into building myself a personal website.....this website!! Most of what I did is covered in my summary for my golf stats app project 
        (<span style="font-weight: 600"><a href="{% url 'portfolio-golfapp' %}">check it out here</a></span>), but here is a view of what building the website involved.</p>
      <hr>
      <div class="row">
        <div class="col-lg-8">
          <h3>What I Did</h3>
          <ul>
            <li><strong>Extended Backend and Frontend from Golf Stats App</strong> - Took the golf project base and extended to have a full personal website layout
            </li>
            <li><strong>Developed and Refined Content</strong> Created pages for the various types of content I wanted to include on my site and refined the content and styling
            </li>
            <li><strong>Deployed the Application</strong> - Set up version control using Git and managed updates to PythonAnywhere hosted site via GitHub
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3>Skills Used</h3>
          <ul>
            <li class="dev-icons">
              <i class="fab fa-python"></i> <strong>Python</strong> - Backend development
            </li>
            <li>
              <img src="{% static 'resumeapp/assets/img/django-logo.png' %}" alt="Django Logo" class="icon-size-django-sm"> <strong>Django</strong> - Web framework and URL routing
            </li>
            <li class="dev-icons">
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-js"></i> <strong>HTML, CSS, JavaScript</strong> - Frontend development and responsive design
            </li>
            <li class="dev-icons">
              <i class="fab fa-bootstrap"></i> <strong>Bootstrap</strong> - Styling and layout design
            </li>
            <li class="dev-icons">
              <i class="fab fa-github"></i> <strong>GitHub</strong> - Version control
            </li>
          </ul>
        </div>
      </div>
<!--       <hr>
      <a href="{% url 'golf-home' %}" class="btn btn-primary">Go Have A Look At The Golf App</a> -->
    </div>
  </div>
</div>
 


 <div class="section" id="projects-subheading">
  <h2>Project Details</h2>
  <hr style="height: 10px;">
</div>


<!-- <div class="col-sm-12 mb-3 mb-sm-0"> -->
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3 class="card-title">Extended Site</h3>
      </div>
      <p class="card-text">The golf app had already allowed me to create a Django project with several pages providing the basis to create more pages using similar techniques. The personal website was slightly easier to build due to being mainly static pages. I still needed to work out a few things:</p>
      <hr>
      <div class="row">
        <div class="col-lg-6">
          <h4>What to Include</h4>
          <ul>
              <li>The inspiration for creating my own site was to be able to represent myself in more detail than what a CV can. This meant that I wanted to start with:
                <ul>
                  <li><strong>CV / Resume</strong> - To begin with I decided to recreate my CV in a digital format.</li>
                  <li><strong>Portfolio</strong> - Creating a portfolio to exhibit things I have done, either personally or professionally. This obviously included the golf app as well as other projects I have completed and things I continue to work on.</li>
                </ul>
              </li>              
          </ul>
        </div>
        <div class="col-lg-6">
          <h4>How to Format the Site</h4>
          <ul>
              <li><strong>Site Structure</strong> - The overall structure and layout was my first consideration. This largely flowed from the simple content that I was aiming to create. The Resume and Portfolio, plus a Home page...and the golf app of course.</li>
              <li><strong>Content Formatting</strong> - The formatting was the more complicated aspect. To manage things like colour schemes, fonts, and general layout using techniques based in HTML, CSS, and Bootstrap required a lot of trial and error.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-sm-12 mb-3 mb-sm-0"> -->
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3 class="card-title">Developed Content</h3>
      </div>
      <p class="card-text">With an idea of what I wanted to create I got into making it. Here is an overview of the key things I completed.</p>
      <hr>
      <div class="row">
        <div class="col-lg-4">
          <h4>Resume Page</h4>
          <ul>
              <li><strong>Resume Project</strong> - One of the projects I completed to learn how to use Django was to create a resume site. This used a free HTML template with a lot of really good built-in functionality. I used this as my initial resume page and incorporated it into my overall project.</li>
              <li><strong>Customisation</strong> - The resume template was good, but it came with its own styling and functionality. I customised it to use the styling from my project for consistency. I also replaced the template navbar as I already had a navbar in my overall site.</li>
          </ul>
        </div>
        <div class="col-lg-8">
          <h4>Portfolio Page and Sub-page Structure</h4>
          <ul>
              <li>The portfolio section needed a landing page and then a way to manage projects and examples as I add to the portfolio.</li>
              <li><strong>Portfolio Landing Page</strong> - When I thought about the types of things I wanted to include in my portfolio, I decided that it fell into either personal projects (like the golf app) or examples from my career. This dictated splitting the landing page into two parts. I did this by:
                <ul>
                  <li>Splitting the page into two sections using a heading that spans the whole page.</li>
                  <li>Using Bootstrap cards and other formatting features to store each of the projects or subjects to make it easy for the content to resize with the window size.</li>
                </ul>
              </li>
              <li><strong>Portfolio Pages</strong> - Each project or example gets its own page. I have tried to keep the structures of the page fairly simple so they can be reused for multiple subjects without too much readjusting.</li>
              <ul>
                <li>Similar Bootstrap formatting was used to manage the content in sections that can resize with the size of the screen.</li>
              </ul>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h4>Home Page</h4>
          <ul>
              <li>The concept of a home page got me looking around at overall themes for the site. I came across one that was fairly simple and suited the type of content I was trying to create. I incorporated this into my page by:
                <ul>
                  <li>Copying the example page HTML and CSS into my page.</li>
                  <li>Working out the aspects of the example code that I wanted to keep in terms of functionality and theme.</li>
                  <li>Created my own version of a home page using the techniques I found useful.</li>
                </ul>
              </li>
          </ul>
        </div>
        <div class="col-lg-8">
          <h4>General Techniques Used</h4>
          <ul>
              <li><strong>Pre-made Layouts</strong> - A helpful tip I got was to use HTML templates to help shortcut creating pages. There was a learning curve for how to use a mix of HTML, CSS and Bootstrap layout and formatting approaches and getting them to work together. While I did copy HTML / CSS from various places to some extent, I tried to manually adjust a lot of it to help learn how things work.</li>
              <li><strong>AI Support</strong> - I leaned heavily on the likes of Copilot and ChatGPT throughout the entire process to find out how to do things, trouble shoot code, and generally work on the components to be able to build the overall site.</li>
              <li><strong>Online Resources</strong> - I spent a lot of time watching instructional videos to learn the fundamentals of things like Django and GitHub and also to help with more specific techniques and approaches.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div class="col-sm-12 mb-3 mb-sm-0"> -->
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3 class="card-title">Deployed the Page</h3>
      </div>
      <p class="card-text">Before deploying my page I needed to make sure that the content was at a level I was happy with and that I was going to be able to get the page hosted and then be able to support it into the future.</p>
      <hr>
      <div class="row">
        <div class="col-lg-6">
          <h4>Hosting Options</h4>
          <ul>
              <li>Explored hosting options, selecting PythonAnywhere for its beginner-friendly environment.</li>
              <li>Used some other practice projects and loaded them onto the site to get used to the process and find out the little tips and tricks for getting all the settings to line up.</li>
              <li>My page is now aligned to GitHub to allow me to manage updates more effectively.</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h4>Version Control</h4>
          <ul>
              <li>Utilized GitHub for version control, learning Git fundamentals to manage the project effectively.</li>
              <li>Have gained experience across the range of tools and techniques required to get a webpage published.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-sm-12 mb-3 mb-sm-0"> -->
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3 class="card-title">Final Result</h3>
      </div>
      <p class="card-text">I now have a web-page to help promote myself and store my projects. I also learned a lot of different disciplines along the way that will no doubt come in handy in other endeavours.</p>
      <hr>
      <div class="row">
          <div class="col-lg-12">
              <h4>Future Developments</h4>
              <ul>
                  <li>I intend to keep adding things to the page and refining the format and functionality.</li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}