{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<head>
    <title>Power Apps PoC</title>
    <link href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" />
</head>

<style type="text/css">

/* Custom styles for ul and li */
.card-body ul {
    color: #596b7d; /* Custom color for list text */
}

.card-body li {
    color: #596b7d; /* Custom color for list items */
}

.card-body ul li::marker {
    color: #596b7d; /* Custom color for bullet points */
}

.img-border {
    border: 2px solid #596b7d; /* Adjust border width and color as needed */
    padding: 5px; /* Optional padding within the border */
    margin: 3px;
}

.icon-size-powerapps-sm {
    width: auto; /* Adjust to your preferred width */
    padding-left: 0px;
    padding-right: 0px;
    height: 18px; /* Maintains the aspect ratio */
    margin-bottom: .4em;
}

</style>


<div class="section" id="projects">
  <h1 class="heading-box">Power Apps Risk Tool Project</h1>
</div>

<div class="section" id="projects-subheading">
  <h2>Project Overview</h2>
  <hr style="height: 10px;">
</div>

<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <p class="card-text">While working at the Ministry of Justice in 2024 as a senior risk consultant, I developed a proof-of-concept (PoC) app for risk and assurance management using Power Apps. The existing risk tool had moved away from Excel-based risk registers but still faced several limitations and lacked essential functionality. My aim was to demonstrate the potential capabilities of Power Apps as a future tooling option.</p>
      <hr>
      <div class="row">
        <div class="col-lg-8">
          <h3>What I Did</h3>
          <ul>
            <li><strong>Current State Assessment</strong> - Assessed the current state and documented future state requirements as a baseline for creating the PoC app
            </li>
            <li><strong>Developed PoC Risk Tool</strong> - Created an app to showcase the potential functionality that could be built using Power Apps
            </li>
            <li><strong>Business Case for Risk Tool</strong> - Presented the PoC app to my team and incorporated the option into a draft business case
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3>Skills Used</h3>
          <ul>
            <li>
              <img src="{% static 'resumeapp/assets/img/PowerApps_scalable.svg' %}" alt="Power Apps Logo" class="icon-size-powerapps-sm"> <strong>Power Apps</strong> - App development with DAX and Power Fx
            </li>
            <li class="dev-icons">
              <i class="fas fa-database"></i> <strong>Databases</strong> - Database structure creation in Dataverse
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 


 <div class="section" id="projects-subheading">
  <h2>Project Details</h2>
  <hr style="height: 10px;">
</div>

<!-- <div class="col-sm-12 mb-3 mb-sm-0"> -->
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3 class="card-title">Background</h3>
      </div>
        <p class="card-text">The existing solution had previously transitioned from Excel-based risk registers to a risk tool in Oracle Application Express. Although this tool provided a better central repository for managing risks, it had several major limitations. These issues were exacerbated by the extension of assurance processes, which required additional details to be managed.
        </p>
      <hr>
      <div class="row">
        <div class="col-lg-6">
          <h4>Limitations of Existing Tool</h4>
          <ul>
              <li><strong>Tracking of Control and Treatment Details</strong> - The tool was relatively simple, with a single record for each risk. It tracked risk controls and treatments using free-text fields, making tracking updates over time highly dependent on consistent data entry. Consequently, any trend reporting was unsupportable.</li>
              <li><strong>User Access Management</strong> - The tool had three levels of access. View access allowed a user to see all risks. Edit access allowed a user to view and edit only risks where they were assigned as an owner. Admin access allowed full access, intended for those supporting the tool. The lack of flexibility in the View and Edit access options meant my team had to update the tool to avoid confusion for staff.</li>             
          </ul>
        </div>
        <div class="col-lg-6">
          <h4>Processes to Support</h4>
          <ul>
              <li><strong>Assurance Process Extension</strong> - To support more consistent risk management, the assurance process was matured to cover key risk controls across the group. This required better-defined risk controls and the ability to track control assessments.</li>
              <li><strong>Risk Process Maturity</strong> - The existing tool was intended to support access by staff from across the group, but this had not happened due to user access limitations. This made the risk process more difficult to embed with staff and more manual for my team to support.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-sm-12 mb-3 mb-sm-0"> -->
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3 class="card-title">Current State Assessment</h3>
      </div>
      <p class="card-text">To outline what functionality to include in the PoC, I documented the current state and future requirements to help determine what to include. This was part of a broader effort to consider available risk tooling options for future implementation.</p>
      <hr>
      <div class="row">
        <div class="col-lg-6">
          <h4>Current State</h4>
          <ul>
            <li><strong>Current State Functionality</strong> - Documented existing functionality to ensure clear understanding if anyone else took over the project.</li>
            <li><strong>Future Requirements for PoC</strong> - Outlined the main requirements, which included:
              <ul>
                <li>Control Library - A standalone register (or Control Library) for all key risk controls, providing functionality similar to an enterprise risk tool.</li>
                <li>Treatment Register - A separate register to track treatment activities, supporting operational processes and resembling an enterprise risk tool.</li>
              </ul> 
            </li>             
          </ul>
        </div>
        <div class="col-lg-6">
          <h4>Business Case Options</h4>
          <ul>
              <li><strong>Range of Options</strong> - To consider future tooling options for risk and assurance processes, three levels were explored:
                <ul>
                  <li>Enterprise Solution - An enterprise-grade solution from an external supplier.</li>
                  <li>In-house Solution - A solution built within the organization with ICT group support, where PowerApps was the logical choice to replace existing Oracle Application Express tools.</li>
                  <li>Team-based Solution - Improve processes using Microsoft Office products like Excel and SharePoint to supplement the current tool.</li>
                </ul> </li>
              <!-- <li><strong>Limitations on Power Apps</strong> - The ICT group was not completely ready to support the use of Power Apps, so drafting a business case was a way to store the findings of the PoC until a suitable time for consideration.</li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-sm-12 mb-3 mb-sm-0"> -->
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3 class="card-title">Developed PoC Risk Tool</h3>
      </div>
      <p class="card-text">Developing the PoC required sketching out an overall view of the tables and workflows needed to create the app. The goal was to create a simple layout that could technically meet the main requirements.</p>
      <hr>
      <div class="row">
        <div class="col-lg-4">
          <h4>Overall Structure</h4>
          <p>The data tables and screens (user interfaces) the app was going to need to collect and store the relevant data and allow users to view and edit the data as required. The main tables were:</p>
            <ul>
              <li><strong>Risk Register</strong> - Table for all risks.</li>
              <li><strong>Control Library</strong> - Table for all controls.</li>
              <li><strong>Risk to Control Link Table</strong> - Table to record links between risks and controls.</li>
              <li><strong>Control Assessments</strong> - Table to store all control assessment details.</li>
              <li><strong>Treatment Register</strong> - Table to store all treatment details.</li>
            </ul>
        </div>
        <div class="col-lg-4">
          <h4>Workflows</h4>
          <p>The screens and workflows to allow users to interact with and update details as required. The main workflows to manage were:</p>
            <ul>
              <li><strong>Viewing Details</strong> - Allow users to view necessary information, including search and filter functionality.</li>
              <li><strong>Editing Details</strong> - Enable users to create or modify data, from simple tasks to complex updates to one-to-many relationships.</li>
              <li><strong>Deleting Details</strong> - Allow users to delete elements with appropriate protections, such as confirmation pop-ups.</li>
            </ul>
        </div>
                <div class="col-lg-4">
          <h4>Technical Challenges</h4>
          <ul>
            <li><strong>Linking Risks to Controls</strong> - Achieving a many-to-many relationship between risks and controls to create a more enterprise-like tool.
            <li><strong>Updating Details</strong> - Using flexible Patch commands instead of basic Forms to create more user-friendly update interfaces.</li>
            </li>
            <li><strong>App Formatting</strong> - Ensuring the PoC was presentable using built-in formatting, despite formatting not being the primary focus.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-sm-12 mb-3 mb-sm-0"> -->
<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h3 class="card-title">Final Result</h3>
      </div>
      <p class="card-text">I presented the PoC tool to my team, which was well received. It demonstrated the potential of using Power Apps for risk and assurance management. The draft business case was updated to reflect the findings and for future reference.</p>

    <hr>
      <div class="row">
        <div class="col-lg-2">
          <h4>Risk Register</h4>
            <li>A Risk Register screen where risks can be searched and filtered. A risk can be selected and used to navigate to an individual risk view screen.</li>
        </div>
        <div class="col-lg-4">
          <img src="{% static 'resumeapp/assets/img/riskregister.png' %}" class="img-fluid img-border" alt="Risk Register Screen">
        </div>
      </div>
    <hr>
      <div class="row">
        <div class="col-lg-2">
          <h4>Risk Details</h4>
          <li>A screen where more detail on one risk can be viewed, including the controls that are linked to the risk. Navigation to controls can be done from here.</li>
        </div>
        <div class="col-lg-3">
            <img src="{% static 'resumeapp/assets/img/riskdetail.png' %}" class="img-fluid img-border" alt="Risk Detail Screen">
        </div>
      </div>
    <hr>
      <div class="row">
        <div class="col-lg-2">
          <h4>Risk Editing</h4>
           <li>An edit screen to update a risk.</li>
        </div>
        <div class="col-lg-3">
          <img src="{% static 'resumeapp/assets/img/riskedit.png' %}" class="img-fluid img-border" alt="Risk Edit Screen">
        </div>
      </div>
    <hr>
      <div class="row">
        <div class="col-lg-2">
          <h4>Update Pop-up Box</h4>
          <li>A pop-up question box when editing content to help ensure changes are only made when intended.</li>
        </div>
        <div class="col-lg-4">
          <img src="{% static 'resumeapp/assets/img/riskpopup.png' %}" class="img-fluid img-border" alt="Risk Popup Box">
        </div>
      </div>
    <hr>
      <div class="row">
        <div class="col-lg-2">
          <h4>Control Library</h4>
            <li>A Control Library screen where all controls can be searched and filtered. A control can be selected and used to navigate to an individual control view screen.</li>
        </div>
        <div class="col-lg-4">
          <img src="{% static 'resumeapp/assets/img/controllibrary.png' %}" class="img-fluid img-border" alt="Control Library Screen">
        </div>
      </div>
    <hr>
      <div class="row">
        <div class="col-lg-2">
          <h4>Control Details</h4>
          <li>Control screen where more detail on one control can be viewed, including assessment history, and an edit screen to update control details.</li>
        </div>
        <div class="col-lg-3">
          <img src="{% static 'resumeapp/assets/img/controldetail.png' %}" class="img-fluid img-border" alt="Control Detail Screen">
        </div>
      </div>
    <hr>
      <div class="row">
        <div class="col-lg-2">
          <h4>Control Assessments</h4>
          <li>An assessment screen to input control assessments.</li>
        </div>
        <div class="col-lg-3">
          <img src="{% static 'resumeapp/assets/img/controledit.png' %}" class="img-fluid img-border" alt="Control Edit Screen">
        </div>
      </div>
    <hr>
      <div class="row">
        <div class="col-lg-2">
          <h4>Risk / Control Link Page</h4>
          <li>A page to allow controls to be linked and delinked from a risk. In a more developed version the formatting would be tidied up. For example, the links could be check boxes and the full list of controls would be searchable.</li>
        </div>
        <div class="col-lg-4">
          <img src="{% static 'resumeapp/assets/img/risklinks.png' %}" class="img-fluid img-border" alt="Risk / Control Link Screen">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}