{% extends 'mainapp/base.html' %}
{% load static %}

{% block content%}

<title>Golf App Login</title>

<style>

body {
    background-image: url("{% static 'roundapp/images/RandomCourse.jpg' %}");
    background-size: cover; /* Adjust to fit the image appropriately */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: keeps the image fixed during scroll */
    background-position: center;
}

.content-box {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 650px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

</style>

<div class="content-box">
	<h1>Golf Stats App - Login</h1><br>

	<form method="post">
    {% csrf_token %}

    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="d-flex flex-column align-items-center">
        <input type="submit" value="Log In" class="btn btn-secondary mb-3">
        <a href="{% url 'golf-home' %}" class="btn btn-outline-primary">Return to Golf App Home Page</a>
      </div>
    </form>

</form>
</div>
{% endblock%}